input {
    font-size: 20px;
    padding: 4px 10px;
    width: 700px;
}


button {
    background-color: lightgreen;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
}

#askTask31, #askTask32, #askTask41, #askTask42, #askTask51, #askTask52 {
    width: 300px;
}